---
---

<footer class="footer">
  <div class="footer__inner">
    <span>reasoningtool &mdash; Apache 2.0</span>
    <span>
      <a href="https://github.com/benjam3n/reasoningtool">Source on GitHub</a>
    </span>
  </div>
</footer>
